* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    margin-top: 10%;
    font-size: 20px;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: royalblue;
    color: white;
}

img {
    width: 100px;
    height: 100px;
}

.hide {
    display: none;
}